.selected {
    position: relative;
}

.selected::after {
    content: "";
    position: absolute;
    left: -1px;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border: 1px solid white;
    background: transparent;
    animation: animatedOpacity 2s linear infinite;
    border-radius: 1.5px;
}

@keyframes animatedOpacity {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .3;
    }

    100% {
        opacity: 0;
    }
}