.layout {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

#root {
    height: 100vh;
    display: flex;
}

.grid-wrapper {
    overflow: auto;
    flex-grow: 1;
    width: 100% !important;
}

.grid {
    padding: 20px 20px 100px
}